spring:
  application:
    name: product-service
  cloud:
    compatibility-verifier:
      enabled: false
    config:
      enabled: false
  datasource:
    password: root
    url: jdbc:mysql://localhost:3306/uhg-sample-backend?createDatabaseIfNotExist=true
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8091

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true